#vibor{
    color: gray;
    text-decoration-line:none;
    background-color:white ;
    transition: background-color 0.3s;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 5px;
  }

  #vibor:hover{

    color: azure;
    background-color: darkred;
  }

  #menu{
    color: white;
    text-decoration-line:none;
    background-color: #333 ;
    transition: background-color 0.3s;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 5px;
  }

  #menu:hover{

    color: azure;
    background-color: darkred;
  }

  #dulo{
    width: 1400px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  header{
    display: flex;
    justify-content: start;
  }

  .otziv {
    top: 400px;
    position: relative;
    left: 2000px;
    color: gray;
    text-decoration-line:none;
    background-color:white ;
    transition: background-color 0.3s;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 5px;
    
  }

  .contact {
    top: 300px;
    position: relative;
    left: 2000px;
    color: gray;
    text-decoration-line:none;
    background-color:white ;
    transition: background-color 0.3s;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 5px;
    
  }

  .PMC {
    display: flex;
    justify-content: center;
    right: 1000px;
  }